#root{
  font-family: Inter, sans-serif;


}

#nav-title{
  font-family: Diphylleia;
  margin-left: 10px;
  text-emphasis: bold;
  font-size: 25px;
  color:white;
}
.nav-item{
  color:white;
  padding: 15px
}
#nav-right{
  margin-right: 10px;
  font-size: 18px;
  text-emphasis: bold;
  font-family: Rubik;
}

.navbar-custom{
  background-color: #ca3d3d;
  padding: 2px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* Hero */
#hero{
  display: flex;
  flex-direction: row;
  padding-top: 150px;
  height:650px;
  background-color: #ca3d3d;
  width: 100%;
  text-align: center;
  /* for extending background color */
  box-shadow: 0 0 0 100vmax #ca3d3d;
  clip-path: inset(0 -100vmax);


}


#hero-graphic{
  transform: rotate(3deg);
  padding: 0;
  width: 500px;
  height: 470px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;

}
#hero-text{
  display: flex;
  flex-direction: column;
  color:white;
  margin-left: 150px;
  width:500px;
  text-align: left;

}

#subtitle{
  padding-top: 30px;
  padding-bottom: 30px;
}
#try-button{
  width: 150px;
  border-radius: 50px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color:#ca3d3d
}

h1{
  font-size: 50px;
}
#features{
  padding-top: 100px;

}
#feature-header{
  padding-bottom: 0px;
  margin-bottom: 0px;
  color:#ca3d3d

}

#features-sub{
  font-size: 30px;
  font-weight: 700;

} 

#features-top{
  
}

#features-list{
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  padding-top: 20px;
}

.feature-container{
  width: 500px;
  height: 500px;
  object-fit: cover;
  margin: 10px;
  
}

.feature-img{
  height: 300px;
  width: 400px;
  margin: 5px;
  
}

.feature-name{
font-weight: bold;
font-size: 25px;
margin-bottom: 5px;
}

.feature-text{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 17px;
}





#footer{
  text-align: center;
  background-color: #ca3d3d;
  color:white;
  padding: 5px;
  font-size: 10px;
}
#footer-text > p{
  padding: 0px;
  margin: 0px;
}

.form-container{
  padding-top:100px;
  padding-bottom: 50px;
}

.form-subheading{
  padding-top:20px;
}

.course-field > label{
  /* padding-top:10px; */
  padding-top: 15px;
}

.form-group > div{
  padding-top:10px;

}
.form-semester{
  padding-top: 10px;
}
.form-units{
  padding-top: 10px;
}

.form-check{
  padding-top: 10px;

}

.form-submit{
  margin-top: 15px;
  margin-left: 13px;
  background-color: #ca3d3d;

}

.form-difficulty{
  padding-top: 10px;
}

.form-result-table{
    font-size: 35px;
}

.schedule-box{
  background-color: rgb(204, 254, 191);
}
.course-box{
  background-color: antiquewhite;
}

.sessions{
  margin-bottom: 20px;
}

.session-box{
  background-color: azure;
  padding-left: 10px;
  margin-bottom: 10px;
}

.sub-session{
  /* display: flex; */
}
.sub-session > p{
 margin-bottom: 3px;
}

.schedule-box{
  display: flex;
}
.schedules-container{
}

.professor-info > h6{
  margin-bottom: 0px;
}
.rmp_info{
  margin-top: 0px;
}

.course-table-row > tr > th{
  font-size: 35px;
}
.registration-page{
  background-color: rgb(131, 131, 131);
}
.registration-box{
  height: 500px;
  margin-top: 150px;
  border-radius: 5px;
  margin-bottom: 100px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.registration-box > div {
  margin-bottom: 10px;
}

.register-button{
  width: 100%;
  margin-top: 20px;
  
}

.registration-header{
  font-size: 25px;
  margin-top: 30px;
  font-weight: bold;
}

.alr-have{
  margin-top: 30px;
}